body,
html {
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 3fr);
  grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(300px, 5fr) minmax(100px, 1fr);
  gap: 15px;

  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  
  text-align: center;
}

.container div {
  padding: 15px;
  
  border-radius: 15px;
  color: white;

  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
}

.header {
  grid-area: 1 / 1 / span 1 / span 2;

  background-color: #006157;
}

.sidebar {
  grid-area: 2 / 1 / span 2 / span 1;

  background-color: #005B94;
}

.nav {
  grid-area: 2 / 2 / span 1 / span 1;

  background-color: #642cde;
}

.article {
  grid-area: 3 / 2 / span 1 / span 1;

  background-color: #7E1DC3;
}

.footer {
  grid-area: 4 / 1 / span 1 / span 2;

  background-color: #393f4d;
}

.article p {
  color: white;

  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}