body,
html {
  height: 100%;
  margin: 0;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  
  text-align: center;
}

.container div {
  padding: 15px;
  
  border-radius: 15px;
  color: white;

  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  color: white;

  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}